{extend name="base" /}
{block name="body"}
<div class="container main-form">
    <form action="{:request()->url()}" class="layui-form" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">用户组</label>
            <div class="layui-input-block">
                <select name="group_id">
                    <option value="">请选择用户组</option>
                    {foreach name="authGroup" item="v"}
                    <option value="{$v.id}" {if condition="isset($data) and $data.group_id eq $v.id"}selected="selected"{/if}>{$v.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" value="{$data.username|default=''}" autocomplete="off" placeholder="请输入用户名" lay-verify="required|username" class="layui-input int-xs">
                <p class="layui-remark">用户名不能有特殊字符，首尾不能出现下划线，不能全为数字</p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" value="" autocomplete="off" placeholder="请输入密码" class="layui-input int-xs">
                <p class="layui-remark">长度为6-16个字符，不能包含空格</p>
            </div>
        </div>        
        <div class="layui-form-item submit-footer">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="J-form">保存</button>
            </div>
        </div>
    </form>
</div>
{/block}
