{extend name="base" /}
{block name="body"}
<div class="container main-form">
    <form action="{:url('admin/index/editPassword')}" class="layui-form" method="post">
        {if session('admin_auth.admin_id') eq 1}
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" autocomplete="off" value="{:session('admin_auth.username')}" class="layui-input int-xs">
                <p class="layui-remark layui-font-red">* 修改用户名会立即退出账号，请重新登陆!</p>
            </div>
        </div>
        {/if}
        <div class="layui-form-item">
            <label class="layui-form-label">旧密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" autocomplete="off" placeholder="请输入旧密码" class="layui-input int-xs">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input type="password" name="new_password" autocomplete="off" placeholder="请输入新密码" class="layui-input int-xs">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" name="rep_password" autocomplete="off" placeholder="请再一次输入" class="layui-input int-xs">
                <p class="layui-remark">不修改密码请留空密码项</p>
            </div>
        </div>
        <div class="layui-form-item submit-footer">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="J-form">保存</button>
            </div>
        </div>
    </form>
</div>
{/block}
