<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>网站后台管理系统</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css?v=2.10.3">
    <link rel="stylesheet" href="__ADMIN__/css/app.css?{:time()}">
    <script src="__STATIC__/layui/layui.js?v=2.11.0"></script>
    {block name="css"}{/block}
</head>
<body class="layui-layout-iframe">
{block name="body"}{/block}
<script src="__ADMIN__/js/app.js?{:time()}"></script>
{block name="js"}{/block}
</body>
</html>
