{extend name="base" /}
{block name="body"}
<div class="container">
    <div class="tools">
        <div class="tool-btn">
            <a data-href="{:url('admin/config/add')}" class="layui-btn T-modal"><i class="layui-icon layui-icon-add-1"></i> 添加配置</a>
        </div>        
    </div>
    <div class="container-main">
        <table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
    </div>
    <script type="text/html" id="headerTool">
        <p class="header-count">当前共有<strong id="count" class="layui-font-red"></strong>个设置项。</p>
    </script>
    <script type="text/html" id="ID-table-templet-switch">
        <input type="checkbox" name="status" value="{{= d.id }}" title="启用|停用" lay-skin="switch" lay-filter="templet-status" {{= d.status == 1 ? "checked" : "" }}>
    </script>
    <script type="text/html" id="barBtn">
        <div class="layui-clear-space barBtn">            
            <a data-href="{:url('edit')}?id={{= d.id}}" lay-event="edit" class="edit">编辑</a>
            <a data-href="{:url('del')}?id={{= d.id}}" lay-event="del" class="del">删除</a>
        </div>
    </script>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
layui.use(function(){
    var $ = layui.$;
    var table = layui.table;
    var form = layui.form;
    var notify = layui.notify;

    table.render({
        elem: '#dataTable',
        url: '{:url('dataList')}',
        toolbar: '#headerTool',
        defaultToolbar: ['filter'],
        limit: 20,
        page: true,
        cols: [[
            {field:'sort_order', title:'排序', width:20, fixed: 'left', unresize: true, edit: 'input'},
            {field:'id', fixed: 'left', width:40, title: 'ID', sort: true},
            {field:'title', width:140, title: '配置标题'},
            {field:'name', width:150, title: '配置标识'},
            {field:'group', width:200, title: '配置分组'},
            {field:'type', width:200, title: '配置类型'},
            {field:'code', width:350, title: '调用方式', templet: '<code>{{= d.code }}</code>'},
            {field:'status', width:90, title: '状态', templet: '#ID-table-templet-switch'},
            {fixed:'right', title:'操作', minWidth: 160, toolbar: '#barBtn'}
        ]],
        done: function(res){
            $('#count').html(res.count);
            table.on('edit(dataTable)', function(resObj){
                var load = layer.load(2);
                // 更新数据中对应的字段
                var update = {};
                update[resObj.field] = resObj.value;
                update['_verify'] = 0;

                var url = '{:url('edit')}' + '?id=' + resObj.data.id;
                $.post(url, update, function(res){            
                    layer.close(load);
                    if (res.code == 1) {
                        notify.success(res.msg, function () {
                            table.reload('dataTable')
                        });
                    } else {
                        notify.error(res.msg);
                    }
                })
            });
        }
    });

    form.on('switch(templet-status)', function(obj){
        var load = layer.load(2);
        var name = this.name;
        var url = '{:url('edit')}' + '?id=' + this.value;
        var data = {};
        data[name] = obj.elem.checked == true ? 1 : 0;
        data['_verify'] = 0;

        $.post(url, data, function(res){            
            layer.close(load);
            if (res.code === 1) {
                notify.success(res.msg, function () {
                    table.reload('dataTable')
                });
            } else {
                notify.error(res.msg);
            }
        })
    });
    
    // 搜索
    form.on('submit(search)', function(data){
        var field = data.field; // 获得表单字段
        // 执行搜索重载
        table.reload('dataTable', {
            page: {
                curr: 1
            },
            where: field
        });
        return false;
    });
});
</script>
{/block}