{extend name="base" /}
{block name="body"}
<div class="container">
    <form action="{:url('admin/config/setting')}" class="layui-form" method="post">
        <div class="layui-tab">
            <ul class="layui-tab-title">
                {foreach name="list" key="k" item="v"}
                <li {if $k eq 'base'}class="layui-this"{/if} lay-id="{$k}">{$v.name}</li>
                {/foreach}
            </ul>
            <div class="layui-tab-content">                
                {foreach name="list" key="k" item="v"}
                <div class="layui-tab-item {if $k eq 'base'}layui-show{/if}">                
                    {foreach name="v.config" item="config"}
                    <div class="layui-form-item">
                        <label class="layui-form-label">{$config.title}</label>
                        <div class="{if $config.type eq 'image' or $config.type eq 'file'}layui-input-group{else}layui-input-block{/if}">
                            {if $config.type eq 'input'}
                            <input type="text" name="{$config.id|hashids_encode}" value="{$config.value|default=''}" placeholder="请输入{$config.title}" class="layui-input int-{$config.size}">
                            {/if}
                            {if $config.type eq 'textarea'}
                            <textarea name="{$config.id|hashids_encode}" placeholder="请输入{$config.title}" class="layui-textarea int-{$config.size}">{$config.value|default=''}</textarea>
                            {/if}
                            {if $config.type eq 'select'}
                            <select name="{$config.id|hashids_encode}">
                                {foreach name=":parse_attr($config.options)" key="i" item="j"}
                                <option value="{$i}" {if condition="$config.value eq $i"}selected="selected"{/if}>{$j}</option>
                                {/foreach}
                            </select>
                            {/if}
                            {if $config.type eq 'radio'}
                            {foreach name=":parse_attr($config.options)" key="i" item="j"}
                            <input type="radio" name="{$config.id|hashids_encode}" value="{$i}" title="{$j}" {if condition="$config.value eq $i"}checked="checked"{/if}>
                            {/foreach}
                            {/if}
                            {if $config.type eq 'image'}
                            <input type="text" name="{$config.id|hashids_encode}" value="{$config.value|default=''}" autocomplete="off" placeholder="请上传{$config.title}" class="layui-input int-sm">
                            <div class="layui-input-suffix">
                                <button type="button" id="{$config.id|hashids_encode}" class="layui-btn layui-bg-blue J-upload"><i class="layui-icon layui-icon-folder-open"></i> 选择图片</button>
                                {php}echo \util\Form::upload(hashids_encode($config['id'])){/php}<!-- -->
                            </div>
                            {/if}
                            {if $config.type eq 'file'}
                            <input type="text" name="{$config.id|hashids_encode}" value="{$config.value|default=''}" autocomplete="off" placeholder="请上传{$config.title}" class="layui-input int-sm">
                            <div class="layui-input-suffix">
                                <button type="button" id="{$config.id|hashids_encode}" class="layui-btn layui-bg-blue J-upload"><i class="layui-icon layui-icon-folder-open"></i> 选择文件</button>
                                {php}echo \util\Form::upload(hashids_encode($config['id']),0,1){/php}<!-- -->
                            </div>
                            {/if}
                            {if $config.notes}
                            <p class="layui-remark">{$config.notes}</p>
                            {/if}
                        </div>
                    </div>
                    {/foreach}    
                </div>
                {/foreach}
            </div>
        </div>
        <div class="layui-form-item submit-footer">
            <div class="layui-input-block">
                <button class="layui-btn"  lay-submit lay-filter="J-form">保存</button>
            </div>
        </div>
    </form> 
</div>
{/block}
{block name="js"}
<script>

</script>
{/block}